name: Sync Backend to Hugging Face Hub

on:
  push:
    branches: [main]
    paths:
      - 'backend/**' # Hanya jalan jika ada perubahan di folder backend

jobs:
  sync-to-hub:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
          
      - name: Install Hugging Face CLI
        run: pip install -U huggingface_hub

      - name: Login & Upload to Space
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        # GANTI 'USERNAME_HF/NAMA_SPACE' DI BAWAH INI DENGAN YANG BENAR
        # Contoh: huggingface-cli upload smartscienceapp/smartscience ...
        run: |
          huggingface-cli upload smartscience/smartscience_backend ./backend . --repo-type space --token $HF_TOKEN
